* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: min(100vh, var(--vh));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  min-height: min(100vh, var(--vh));
  display: flex;
  flex-direction: column;

  main {
    padding-bottom: 80px;
    flex: 1;
  }
}

.MuiSlider-thumb.Mui-disabled {
  height: 24px !important;
  width: 24px !important;
  margin-top: -8px !important;
  margin-left: -12px !important;
}
